<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Core
  ~ phpunit.xml.dist
  ~
  ~ Copyright (c) 2020 Sentinelo
  ~
  ~ @author  Christophe AGNOLA
  ~ @license MIT License (https://mit-license.org)
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
  ~ documentation files (the “Software”), to deal in the Software without restriction, including without limitation
  ~ the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
  ~ and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
  ~ NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
  ~ NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
  ~ DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  ~
  -->

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="bin/.phpunit/phpunit.xsd"
         colors="true"
         bootstrap="config/bootstrap.php"
>

    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="KERNEL_CLASS" value="App\Kernel" />
        <server name="SHELL_VERBOSITY" value="1"/>
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
        <server name="SYMFONY_PHPUNIT_VERSION" value="7.5"/>
        <env name="APP_URL" value="http://testing.local"/>
    </php>

    <testsuites>
        <testsuite name="CockpitCE Core Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">src/Migrations</directory>
                <directory suffix=".php">src/DataFixtures</directory>
                <directory suffix=".php">src/Doctrine</directory>
                <directory suffix=".php">src/DTO</directory>
                <directory suffix=".php">src/Form</directory>
                <directory suffix=".php">src/Repository</directory>
                <directory suffix=".php">src/Kernel.php</directory>
                <directory suffix=".php">src/Entity/TplFolderCalendar.php</directory>
                <directory suffix=".php">src/Entity/TplFolderQuestionnaire.php</directory>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>
